<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}


</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand bg-danger p-1 rounded" href="#">TRAVELBLOG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    {% if app.user %}
                    <div class="dropdown">
                        <button class="btn btn-transparent dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img width="30" height="30"
                                src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
                                class="rounded" alt="{{app.user.id}}">
                        </button>
                        <ul class="dropdown-menu ">
                            {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <li><a class="dropdown-item text-dark" href="/admin">Admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item text-dark" href="/logout">Déconexion</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Créer un compte</a>
                        </li>
                    </ul>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>

</html>